{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/theme/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="container-fluid h-100">
        <div class="row h-10">
            <h3>{{ category }}</h3>
        </div>
        <div class="row">
            <div class="col-4 sidebar">
                <nav>
                    <ul class="nav flex-column sidebar-items">
                        <li class="nav-item">
                            <a href="{{ SITEURL }}/index.html">
                                <i class="bi bi-house-fill sidebar-icon"></i>
                                <span class="sidebar-label">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ SITEURL }}/category/blog">
                                <i class="bi bi-book sidebar-icon"></i>
                                <span class="sidebar-label">Blog</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ SITEURL }}/category/projects">
                                <i class="bi bi-journals sidebar-icon"></i>
                                <span class="sidebar-label">Projects</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <i class="bi bi-archive sidebar-icon"></i>
                                <span class="sidebar-label">Archives</span>
                            </a>
                        </li>
                    </ul>
                    <hr class="solid">
                    <ul class="nav flex-column sidebar-items">
                        <li class="nav-item">
                            <a href="#">
                                <i class="bi bi-twitter sidebar-icon"></i>
                                <span class="sidebar-label">Twitter</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <i class="bi bi-facebook sidebar-icon"></i>
                                <span class="sidebar-label">Facebook</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <i class="bi bi-github sidebar-icon"></i>
                                <span class="sidebar-label">Github</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <i class="bi bi-linkedin sidebar-icon"></i>
                                <span class="sidebar-label">Linkedin</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <i class="bi bi-instagram sidebar-icon"></i>
                                <span class="sidebar-label">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-8">
                <div class="container h-100">
                    <div class="row h-100">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col">
                                {% if articles_page.has_next() %}
                                <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Last Page</a>
                                {% endif %}
                            </div>
                            <div class="col">
                                {% if articles_page.has_previous() %}
                                <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">Next Page</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {{ macros.add_footer() }}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>