{% extends "base_sidebar.html" %}

{% block header %}
{{ category }}
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
<article>
    <header>
        <h1>
            <a href="{{ SITEURL }}/{{ article.url }}">
                {{ article.title }}
            </a>
        </h1>
        <p> Published: {{ article.locale_date }}</p>
    </header>

    {% if article.summary %}
    <div class="article-content">
        {{ article.summary | safe | truncate(150)}}
    </div>
    {% endif %}
    <div>
        <hr class="solid" />
    </div>
</article>
{% endfor %}
{% endblock %}

{% block footer %}
<div class="row">
    <div class="row">
        <div class="col">
            {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Last Page</a>
            {% endif %}
        </div>
        <div class="col">
            {% if articles_page.has_previous() %}
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">Next Page</a>
        </div>
    </div>
    {% endif %}
</div>
{{ macros.add_footer() }}
{% endblock %}