{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="row h-100">
    <div class="col h-100">
        <div class="row h-10">
            <div class="col">
                <img src="/theme/images/index-anvinski.png" class="img-fluid h-100">
            </div>
        </div>
        <div class="row">
            <p>Hello! I'm Anvinski and here's where you can keep up with my latest thoughts on topics that interest me.</p>
        </div>
        <div class="row g-2">
            <span>
                <h1 class="display-6">Journal</h1>
            </span>
            <div class="col">
                <div class="card home-card">
                    <div class="card-body">
                        <a href="{{ SITEURL }}/category/blog">
                            <h5 class="card-title">Blog</h5>
                        </a>
                        <p class="card-text">I write miscellaneous stuff here. It could be about software development, movies, video games, or chocobos</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card home-card">
                    <div class="card-body">
                        <a href="{{ SITEURL }}/category/projects">
                            <h5 class="card-title">Projects</h5>
                        </a>
                        <p class="card-text">Take a look behind the scenes of projects that I've worked on</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <h1 class="display-6">Socials</h1>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group me-4" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <a href="https://www.twitter.com/An_V0">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </button>
                </div>
                <div class="btn-group me-4" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <a href="https://www.facebook.com/an.vo.10">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </button>
                </div>
                <div class="btn-group me-4" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <a href="https://www.github.com/atvo3">
                        <i class="bi bi-github"></i>
                        </a>
                    </button>
                </div>
                <div class="btn-group me-4" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <a href="https://www.linkedin.com/in/an-vo-581a2a91">
                        <i class="bi bi-linkedin"></i>
                        </a>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <a href="https://www.instagram.com/an.vo.10/">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        {{ macros.add_footer() }}
    </div>
</div>
{% endblock %}