html,  body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

article {
    padding: 2.5%;
}

.home-card {
    width: 18rem;
    height: 10rem;
}

hr.solid {
    border-top: 2px solid #999;
}

.sidebar {
    border: 1px solid black;
}

.sidebar-items {
    margin-left: 10%;
}

.sidebar-label {
    margin-left: 0.7em;
}

i.sidebar-icon {
    font-size: 1rem;
}

.h-10 {
    height: 10% !important;
}