html,  body {
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
}

.container {
    height: 100%;
}

.card {
    width: 18rem;
    height: 10rem;
}

hr.solid {
    border-top: 2px solid #999;
}

.sidebar-items {
    margin-left: 10%;
}

.sidebar-label {
    margin-left: 0.7em;
}

i.sidebar-icon {
    font-size: 1rem;
}

a {
    text-decoration: none;
}